*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:Arial Black;

}

.cal-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.cal-grid button{
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    font-size: 30px;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cal-grid button:hover{
    background: white;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background: rgba(0, 0, 0, .75);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .pre-opa{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .crnt-opa{
    color: white;
    font-size: 2.5rem;
}